* {
    background-color: rgb(255, 142, 55);
    margin: 15px;
    margin-top:30px;
}

body {
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.wrapper {
    text-align: center;
}

h1 {
    font-size: 100px;
    text-shadow: 4px 4px 4px red;
}

p {
    font-size: 95px;
    text-shadow: 2px 2px 2px red;
}

button {
    display: inline-block;
    background-color: rgb(255, 142, 55);
    color: white;
    border: 2px solid red;
    font-size: 40px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: red;
    font-size: 45px;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    body {
        display: flex;
        flex: fit-content;
        align-items: center;
    }

    button {
        display: inline-block;
        justify-content: space-between;
    }
}